$color-gray-1: hsl(217, 19%, 35%);
$color-gray-2: hsl(214, 17%, 51%);
$color-gray-3: hsl(212, 23%, 69%);
$color-gray-4:  hsl(210, 46%, 95%);
$color-white-1: hsl(0, 0%, 100%);

$main-font-size: 13px;
$main-font-family: 'Manrope', sans-serif;